@page "/account"
@using Bank.Shared.Components.Account.Inbox
@using Bank.Shared.Components.Account.QuickLinks
@using Bank.Shared.Components.Account.Advertisement
@using Bank.Shared.Components.Account.AccountInfo

@if (Brain.GetCurrentUser() != null)
{
    <div class="container" id="stuff">
        @*
            This can be with one of the themes

            <div id="loginmessage">
            Welcome Back! Last Login: @LastLoginDate
            </div>
        *@

        <div id="main-row" class="row">
            <div class="col-md-4">
                @if (Brain.CurrentTheme.UseInbox)
                {
                    <Inbox />
                }
                @if (Brain.CurrentTheme.UseQuickLinks)
                {
                    <QuickLinks />
                }
                @if (Brain.CurrentTheme.UseAdvertisement)
                {
                    <Advertisement />
                }
            </div>
            <div class="col-md-8">
                <div id="filler">
                    <div class="row">
                        <ButtonGroup Wrap="true">
                            <ButtonGroupItem Glyph="book" Style="@BgStyle">
                                <Anchor Color="white" Location="/transactions/-1">All transactions</Anchor>
                            </ButtonGroupItem>
                            <ButtonGroupItem Glyph="calculator" Style="@BgStyle">
                                <Anchor Color="white" Location="/transfer">Make a transfer</Anchor>
                            </ButtonGroupItem>
                            <ButtonGroupItem Glyph="briefcase" Style="@BgStyle">
                                <Anchor Color="white">Contact Support</Anchor>
                            </ButtonGroupItem>
                            <ButtonGroupItem Glyph="info" Style="@BgStyle">
                                <Anchor Color="white">Edit or add alerts</Anchor>
                            </ButtonGroupItem>
                            <ButtonGroupItem Glyph="document" Style="@BgStyle">
                                <Anchor Color="white">Go paperless</Anchor>
                            </ButtonGroupItem>
                            <ButtonGroupItem Glyph="grid-three-up" Style="@BgStyle">
                                <Anchor Color="white">Edit profile</Anchor>
                            </ButtonGroupItem>
                        </ButtonGroup>
                    </div>
                </div>
                <AccountInfo />
            </div>
        </div>
    </div>
}