<div class="row">
    <div id="account-info">
        @foreach (User.Account account in Brain.GetCurrentAccounts())
        {
            <div class="account-row">
                <div class="row">
                    <div class="col-md-8">
                        <h5>
                            @account.Name
                            <span>@($"XXXX{account.Last4Digits}")</span>
                        </h5>
                        <hr />
                        <h1>@account.FormattedBalance</h1>
                    </div>

                    <div class="col-md-4">
                        <ButtonGroup>
                            <ButtonGroupItem>
                                <Anchor Color="@(Brain.CurrentTheme.ButtonGroupAnchorColor)"
                                    Location='@($"/transactions/{account.Last4Digits}")'>View transactions
                                </Anchor>
                            </ButtonGroupItem>
                            <ButtonGroupItem>
                                <Anchor Color="@(Brain.CurrentTheme.ButtonGroupAnchorColor)" Location="/transfer">Make a
                                    transfer</Anchor>
                            </ButtonGroupItem>
                            <ButtonGroupItem>
                                <Anchor Color="@(Brain.CurrentTheme.ButtonGroupAnchorColor)">More actions</Anchor>
                            </ButtonGroupItem>
                        </ButtonGroup>
                    </div>
                </div>
            </div>
        }
    </div>
</div>