<div id="threethings">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>@Brain.ThreeThings[0].Title</h4>
                <p>@Brain.ThreeThings[0].Text</p>
            </div>
            <div class="col">
                <h4>@Brain.ThreeThings[1].Title</h4>
                <p>@Brain.ThreeThings[1].Text</p>
            </div>
            <div class="col">
                <h4>@Brain.ThreeThings[2].Title</h4>
                <p>@Brain.ThreeThings[2].Text</p>
            </div>
        </div>
    </div>
</div>
