@namespace Bank.Shared.Components.Navbar
@using Bank.Shared.Components.Navbar.NavbarLinks

@if (Brain.CurrentTheme.NavbarStyle == NavbarStyle.Basic)
{
    <header
        style='@($"background-color: {Brain.CurrentTheme.PrimaryBackgroundColor}; color: {Brain.CurrentTheme.HeaderAnchorColor}")'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style='@($"margin-top: 8px; color: {Brain.CurrentTheme.HeaderNameColor}")'>@Brain.BankName</h2>
                </div>
                <div class="header-menu">
                    <nav>
                        <ul class="nav mx-auto">
                            <NavbarLinks />
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
}
else if (Brain.CurrentTheme.NavbarStyle == NavbarStyle.Seperated)
{
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style='@($"margin-top: 8px; color: {Brain.CurrentTheme.HeaderNameColor}")'>@Brain.BankName</h2>
                </div>
                <div class="col-md-12 buttons">
                    <nav>
                        <ul class="nav mx-auto">
                            <NavbarLinks />
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}
else if (Brain.CurrentTheme.NavbarStyle == NavbarStyle.Modern)
{
    <div class="modern">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3 style="color: @(Brain.CurrentTheme.HeaderNameColor)">@Brain.BankName</h3>
                </div>
                <div class="col-md-5">
                    <nav>
                        <ul class="nav mx-auto">
                            <NavbarLinks />
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}